<html>

<head>
    <title>add tasklist</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="/javascripts/createTaskList.js"></script>

</head>

<body>
    <form action="createtasklist" method="POST">
        <input name="tasklistname" placeholder="tasklist name" type="text" required />
        <button type="submit">create tasklist</button>
        <br />
        <div id="taskFormDiv">

        </div>
    </form>
    <div>

        <table>
            {{#each tasklist}}
            <tr id = "{{this.id}}">
                <td onclick="postReq('{{this.id}}')" style="cursor: pointer">{{this.tasklistname}}</td>
                <td onclick="deleteList('{{this.id}}')" style="cursor: pointer"><button type="button">Delete</button> </td>
                <td onclick="editList('{{this.id}}')" style="cursor: pointer"><button type="button">Edit</button> </td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>

</html>