<html>

<head>
    <title>add tasklist</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="/javascripts/createTaskList.js"></script>

</head>

<body>
    <form action="createtask" method="POST">
        <input name="taskname" placeholder="task name" type="text" required />
        <input name="desc" placeholder="description" type="text"  />
        <input name="tasklistid" type="hidden" value="{{tasklistid}}"/>
        <button type="submit">create task</button>
    </form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>

                </tr>
            </thead>
            {{#each tasks}}
            <tr id = "{{this.id}}">
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td onclick="deleteTask('{{this.id}}', '{{this.tasklistId}}')" style="cursor: pointer"><button type="button">Delete</button></td>
                <td onclick="editTask('{{this.id}}', '{{this.tasklistId}}')" style="cursor: pointer"><button type="button">Edit</button> </td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>

</html>